{% extends 'base.html.twig' %}
{% block title %}Article
{% endblock %}
{% block content %}
	{# Titre de la page #}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				{% if mode == 'new' %}Ajout{% else %}Modification
				{% endif %}
				- Article</h1>
		</div>
	</div>
	<div class="container">
		{{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate' }}
		) }}
		{# ------------------------- #}
		{#      INFOS GÉNÉRALES      #}
		{# ------------------------- #}
			{% if mode == 'update' %}
				<div class="panel-heading"> <h4 class="panel-title" id="contact-panel-title">
					<a data-group data-toggle="collapse" href="#info">
						<i class="fa fa-angle-double-down fa-fw"></i>
						Informations générales</a>
				</h4>
			</div>
		{% endif %}
		<div id="info" class="panel-collapse">

			{{ include('helpers/form/_group.html.twig', {
                        'field': form['title']
                    }) }}
			{{ include('helpers/form/_group.html.twig', {
                        'field': form['content']
                    }) }}

		</div>
		{# -------------------------------- #}
		{#      INFOS COMPLÉMENTAIRES       #}
		{# -------------------------------- #}

			{% if mode == 'update' %}
				<div class="panel-heading"> <h4 class="panel-title">
					<a data-group data-toggle="collapse" href="#info-compl">
						<i class="fa fa-plus fa-fw">
							Informations complémentaires</a>
					</h4>
				</div>
				<div id="info-compl" class="panel-collapse table-responsive">
					<table class="table table-condensed fiche">
						<tbody>
							<tr>
								<td>Publication</td>
								<td>
									Publié le
									{{ article.publishedAt | date("d-m-Y à H:i:s") }}
									{{ article.author?'par ' ~ article.author.username }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			{% endif %}
			<div class="row">
				{% if not form.vars.valid %}
					<div class="col-md-8 error">
						<i class="fa fa-exclamation-triangle fa-fw">
							Le formulaire contient des erreurs. Vérifiez les différentes rubriques.
						</div>
					{% else %}
						<div class="col-md-8"></div>
					{% endif %}
					<div class="col-md-4 text-right">
						{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-info'} }) }}
					</div>
				</div>
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		{% endblock %}
		{% block stylesheets %}
			<style>
				.container {
					width: 100%;
					border: 1px solid #ddd;
					padding-top: 13px;
					border-radius: 10px;
					background-color: #F9F9FA;
					color: #413C49;
					margin-top: 20px;
					padding-bottom: 13px;
				}
				.error {
					color: red;
					font-weight: 600;
				}
				.has-error ul {
					color: red;
					list-style-type: none;
					padding-left: 0;
					padding-top: 5px;
					font-style: italic;
				}
				.btn-lg {
					color: #fff;
					margin: 30px auto auto;
				}
			</style>
		{% endblock %}
